{% extends 'default.html' %}
{% load static %}
{% load custom_template_tags %}

{% block content %}
{% for post in data %}
  <div class="box" style="cursor: pointer" onclick='window.location.assign("post/{{ post.pk }}/detail?prev={{ request.get_full_path }}")'>
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        {% if post.content|parse_image %}
            <img style="max-height: 5em;"  src={{post.content|parse_image|safe}} alt="Image">
        {% else %}
            <img src={% static "announcement.png" %} alt="Image">
        {% endif %}
      </figure>      
    </div>
    <div class="media-content">    
      <div class="content">
        <p>
          <small class="has-text-info">{{ post.date_update|date:'d.m.Y' }}</small>
          <strong>{{ post.title|truncatewords:20}}</strong>
          <br>
          {{ post.content|striptags|truncatewords:20}}
        </p>
      </div>
      <span class="icon-text has-text-success">
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
          <span>{{post.category}}</span>
      </span>
      <span class="icon-text has-text-info">
          <span class="icon">
            <i class="fas fa-comment"></i>
          </span>
          <span>{{post.recalls.count}}</span>
      </span>
    </div>
    <div class="media-right">
      <span class="icon is-small">
              <i class="fas fa-user" aria-hidden="true"></i>
      </span>
        <span class="is-info">{{post.user}}</span>
    </div>
  </article>
</div>
{% endfor %}




<nav class="pagination is-fixed-bottom is-centered" role="navigation" aria-label="pagination">
  <!--<a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>-->
  <ul class="pagination-list">
    {% if page_obj.has_previous %}
        <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a></li>
        {% if page_obj.previous_page_number != 1 %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page 45" href="?page={{ page_obj.previous_page_number }}">
                  {{ page_obj.previous_page_number }}
            </a></li>
        {% endif %}
    {% endif %}
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
       <li><a class="pagination-link" aria-label="Goto page 47" href="?page={{ page_obj.next_page_number }}">
           {{ page_obj.next_page_number }}
       </a></li>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <li><span class="pagination-ellipsis">&hellip;</span></li>
           <li><a class="pagination-link" aria-label="Goto page 86" href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }}
           </a></li>
       {% endif %}
   {% endif %}
  </ul>
</nav>
{% endblock content %}