{% extends 'default.html' %}
{% load static %}

{% block content %}


<div class="box">
    <a class="button is-info is-light" href="{{prev}}">
        <span class="icon">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span>К списку</span>
    </a>    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src={% static "announcement.png" %}     >
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <div class="box">
            {% if form  %}
            <form method="post">
                <input type='hidden' name='type' value='post'>
                <input type='hidden' name='prev' value={{prev}}>
                <input type='hidden' name='pk' value={{data.pk}}>
                {% csrf_token %}
                {{ form  }}
                <div class="field">
                  <div class="buttons">
                    <a class="button is-warning is-light"
                       href={% if data.pk %} "/post/{{data.pk}}/detail?prev={{prev}}" {% else %} "{{prev}}" {% endif %}
                    >
                        <span class="icon">
                          <i class="fas fa-ban"></i>
                        </span>
                        <span>Отмена</span>
                    </a>
                    <button class="button is-info">
                        <span class="icon">
                          <i class="fas fa-save"></i>
                        </span>
                        <span>Сохранить</span>
                    </button>

                      
                  </div>
                </div>
            </form>
            {% else  %}
              <h2 class="title is-3 ">{{ data.title }}</h2> 
              <strong class="has-text-info">{{data.user}}</strong>
              <div class="box">
              {{ data.content|safe }}
              </div>
              <article class="media">
              <div class="media-left">
                <span class="tag is-primary is-light" title='Дата создания'>{{data.date_create|date:'d.m.Y H:m'}}</span>
                {% if data.date_update %}<span class="tag is-link is-light" title='Дата изменения'>{{data.date_update|date:'d.m.Y H:m'}}</span> {% endif %}
              </div>
              <div class="media-right">
                 {% if editable %}
                    <div class="buttons" style="margin: 0">              
                        <a class="button is-small is-success is-light" href="/post/{{data.pk}}/edit?prev={{prev}}">
                            <span class="icon">
                              <i class="fas fa-edit"></i>
                            </span>
                            <span>Изменить</span>
                        </a>
                        <a class="button is-small is-danger is-light" href="#"
                            onClick='document.getElementById("win-modal").setAttribute("class", "modal is-active");'
                            >
                            <span class="icon">
                              <i class="fas fa-trash"></i>
                            </span>
                            <span>Удалить</span>
                        </a>
                    </div>
                 {% endif %}
              </div>
            {% endif  %}
            <article>
          </div>
        </div>

        {% for comment in data.recalls.all %}
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src={% static "announcement.png" %} >
            </p>
          </figure>
          <div class="media-content">
            <div class="content box">
              <p>
                <strong>{{comment.user}}</strong>
                {% if comment.accept %} <span class="tag is-small is-link">Принято</span>{% endif %}
                {% if request.user == data.user and comment.pk in not_views %} <span class="tag is-small is-warning">Новое</span>{% endif %}
                {% if request.user == comment.user and not comment.pk in not_views %} <span class="tag is-small is-warning">Просмотрено</span>{% endif %}
                {% if can_accept and request.user != comment.user %}
                    <a class="button is-small is-info {{ comment.accept|yesno:'_,is-light,is-light' }}" href="/comment/{{comment.pk}}">
                        <span class="icon">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>{{ comment.accept|yesno:"Отказаться,Принять,Принять" }}</span>
                    </a>
                {% endif %}
                <br>
                {{ comment.content|safe }}
                <br>
                <span class="tag is-primary is-light" title='Дата создания'>{{comment.date_create|date:'d.m.Y H:m'}}</span>
              </p>
            </div>
          </div>
        </article>
        
        {% endfor %}   
        {% if request.user.is_authenticated and comment_form %}
          <article class="media">        
            <figure class="media-left">
            <p class="image is-48x48">
              <img src={% static "announcement.png" %} >
            </p>
          </figure>
          <div class="media-content box">
            <form method="post">
                <input type='hidden' name='type' value='comment'>
                {% csrf_token %}
                {{ comment_form  }}
                <div class="field">
                  <p class="control">
                    <button class="button is-info is-light">
                        <span class="icon">
                          <i class="fas fa-paper-plane"></i>
                        </span>
                        <span>Отправить</span>
                    </button>
                  </p>
                </div>
            </form>
          </div>
        </article>
         
        {% endif %}
      </div>
    </article>    
</div>


<div class="modal" id='win-modal'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Удаление</p>
      <button class="delete" aria-label="close" onClick='document.getElementById("win-modal").setAttribute("class", "modal");'></button>
    </header>
    <section class="modal-card-body">
      Удалить объявление <strong>{{data.title}}</strong>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" onClick='window.location.assign("/post/{{data.pk}}/del?redirect={{prev}}")'>Удалить</button>
      <button class="button" onClick='document.getElementById("win-modal").setAttribute("class", "modal");'>Отмена</button>
    </footer>
  </div>
</div>


{% endblock content %}